{% extends 'base_dashboard.html' %}

<script>
{% block javascript %}
    loadSciImpactSummaryCards("{{ impact_obj }}");
    createSciImpactTable("{{ impact_obj }}");
    drawAvgCitationsByYearChart("{{ impact_obj }}");
    var div_chart_pis = document.getElementById("chart_pis");
    var show_pis_chart = parseInt("{{ show_pis_chart }}");
    if (show_pis_chart == 1) {
        div_chart_pis.style.display = "block";
        drawAvgCitationsByYearPIsChart();
    }
    else {
        div_chart_pis.style.display = "none";
    }
{% endblock %}
</script>


{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 id="dh-title" class="h3 mb-0 text-gray-800"></h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>
    <!-- Summary Cards -->
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total articles</div>
                    <div id="total_articles" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    <div class="small mb-0">Period: <span class="start_year"></span>-<span class="end_year"></span></div>
                    <div class="small mb-0 text-gray-700">Source: <b><span id="articles_source"></span></b></div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-copy fa-3x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total citations</div>
                    <div id="total_citations" class="h5 mb-0 font-weight-bold"></div>
                    <div class="small mb-0">Period: <span class="start_year"></span>-<span class="end_year"></span></div>
                    <div class="small mb-0 text-gray-700">Source: <b><span id="citations_source"></span></b></div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-3x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Average citations per article</div>
                    <div id="avg_citations_article" class="h5 mb-0 font-weight-bold"></div>
                    <div class="small mb-0">Period: <span class="start_year"></span>-<span class="end_year"></span></div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-3x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Scientific Impact</div>
                          <div id="scientific_impact_score" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                          <div class="small mb-0">Period: <span class="start_year"></span>-<span class="end_year"></span></div>
                          <div class="small mb-0 text-gray-700">Indicates whether the performance of the scientist or institution
                              is below (< 1), about (1) or above (1) the international impact of the field
                          </div>
                      </div>
                      <!-- <div class="col-auto">
                          <i class="fas fa-info fa-3x text-gray-300"></i>
                      </div> -->
                  </div>
              </div>
          </div>
        </div>
    </div>
    <!-- Table -->
    <div class="row">
        <div class="col-xl-12 col-md-12 mb-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Scientific Impact Details</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="impactTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Year</th>
                                        <th>Publications<sup>1</sup></th>
                                        <th>Citations<sup>2</sup></th>
                                        <th>Citations per Publication<sup>3</sup></th>
                                        <th>% Not Cited Publications<sup>4</sup></th>
                                        <th>% Self-citations<sup>5</sup></th>
                                        <th>Avg. Citations in the Field<sup>6</sup></th>
                                        <th>Scientific Impact<sup>7</sup></th>
                                        <th>% Publication of the Total<sup>8</sup></th>
                                        <th>Weighted Impact<sup>9</sup></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr class="bg-primary text-white">
                                        <th>Total</th>
                                        <th id="table_total_articles"></th>
                                        <th id="table_total_citations"></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="table_total_impact"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <p class="small">
                        <sup>1</sup>Number of papers published in the indicated period<br>
                        <sup>2</sup>Total number of citations received by the papers published in the indicated period (from the moment of publication until the moment of analysis)<br>
                        <sup>3</sup>Mean of citations per publication<br>
                        <sup>4</sup>Percentage of not-cited papers published in the indicated period<br>
                        <sup>5</sup>Percentage of self-citations in the indicated period<br>
                        <sup>6</sup>Average of citations of all papers published in all journals of the field in which the institute/scientist has been active in the indicated period<br>
                        <sup>7</sup>Impact of the institution/scientist, far below (< 0.5), below (between 0.5 and 0.8), about (between 0.8 and 1.2), above
                        (between 1.2 and 1.5) and far above (>1.5) the international impact of the field<br>
                        <sup>8</sup>Proportion of publications considering the total of the period<br>
                        <sup>9</sup>Impact normalized by the proportion of publication in the indicated period<br>
                        <sup>a</sup>Overall scientifict impact in the entire period
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- First chart -->
    <div class="row">
        <div class="col-xl-12 col-md-12 mb-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Average Citations per Articles by Year</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="avgCitationsPerArticleYearChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Second chart -->
    <div id="chart_pis" class="row">
        <div class="col-xl-12 col-md-12 mb-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Average Citations per Articles of the INB PIs by Year</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="avgCitationsPerArticlePIsYearChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}