<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-info"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Impact App</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">Scientific Impact</div>
    <!-- Nav Item -->
    <li id="institution_menu" class="nav-item">
    </li>
    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#researchers" aria-expanded="true"
           aria-controls="researchers">
            <i class="fas fa-fw fa-flask"></i>
            <span>Principal Investigators</span>
        </a>
        <div id="researchers" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div id="researchers_menu" class="bg-white py-2 collapse-inner rounded">
          </div>
        </div>
    </li>
    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'sci_impact_methodology' %}">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Methodology</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">Social Impact</div>
    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'social_impact_projects' %}" aria-controls="projects">
            <i class="fas fa-fw fa-project-diagram"></i>
            <span>Projects</span>
        </a>
    </li>
    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'social_impact_methodology' %}">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Methodology</span>
        </a>
    </li>
    <!-- Divider -->
    <!-- <hr class="sidebar-divider"> -->
    <!-- Nav Item - Charts -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span>
        </a>
    </li> -->
    <!-- Nav Item - Tables -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span>
        </a>
    </li> -->
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>