<!-- Total PIs -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Principal Investigators</div>
            <div id="total_pis" class="h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="small mb-0">Period: <span class="start_year"></span>-<span class="end_year"></span></div>
        </div>
        <div class="col-auto">
          <i class="fas fa-flask fa-3x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Total Articles -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-danger shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total articles</div>
            <div id="total_articles" class="h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="small mb-0">Period: <span class="start_year"></span>-<span class="end_year"></span></div>
            <div class="small mb-0 text-gray-700">Source: <b><span id="articles_source"></span></b></div>
        </div>
        <div class="col-auto">
          <i class="fas fa-copy fa-3x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Total Citations -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Citations</div>
            <div id="total_citations" class="h5 mb-0 font-weight-bold"></div>
            <div class="small mb-0">Period: <span class="start_year"></span>-<span class="end_year"></span></div>
            <div class="small mb-0 text-gray-700">Source: <b><span id="citations_source"></span></b></div>
        </div>
        <div class="col-auto">
          <i class="fas fa-clipboard-list fa-3x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Total Projects -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total projects</div>
            <div id="total_projects" class="h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="small mb-0">Period: <span class="start_year"></span>-<span class="end_year"></span></div>
            <div class="small mb-0 text-gray-700">Source: <b><span id="projects_source"></span></b></div>
        </div>
        <div class="col-auto">
          <i class="fas fa-project-diagram fa-3x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Scientific Impact -->
<!-- <div class="col-xl-2 col-md-6 mb-4">
  <div class="card bg-warning shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
            <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Scientific Impact</div>
            <div class="h5 mb-0 font-weight-bold text-white">{{ scientific_impact }}*</div>
            <div class="small mb-0 text-white">Period: {{ sci_impact_start_year }}-{{ sci_impact_end_year }}</div>
            <div class="small mb-0 text-white">*Two times above the international impact of the field</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-info fa-3x text-gray-100"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Social Impact -->
<!-- <div class="col-xl-2 col-md-6 mb-4">
  <div class="card bg-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
            <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Social Impact</div>
            <div class="h5 mb-0 font-weight-bold text-white">{{ social_impact }}</div>
            <div class="small mb-0 text-white">Period: {{ start_year }}-{{ end_year }}</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-info fa-3x text-gray-100"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->