{% extends 'base.html' %}
{% load static %}

<script>
{% block javascript %}
    var pathname = window.location.pathname;
    if (pathname == "/login_error") {
        $("#loginErrorAlert").show();
        window.setTimeout(function() {
            $("#loginErrorAlert").fadeTo(300, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 4000);
    }
{% endblock %}
</script>

{% block content %}
<!-- Login failure alert -->
<div id="loginErrorAlert" class="alert alert-danger text-center collapse" role="alert">
  <strong>Login error!</strong> Please try again.
  <button type="button" class="close alert-dismissible" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- Navigation -->
<nav class="navbar navbar-light navbar-expand-lg bg-light static-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="{% static 'img/bsc-logo.png' %}" alt="" width="170px" height="45px">
        </a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="mr-4" href="api">API</a>
            <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
            <!-- <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>-->
        </nav>
    </div>
</nav>
<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="display-1"><b>Impact App</b></div>
                <h4 class="">Evaluating the impact of research</h4>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fas fa-flask m-auto text-primary"></i>
                    </div>
                    <h3>Scientific Impact</h3>
                    <p class="lead mb-0">Intellectual contribution (scientific article, book or book chapter, patent) to a person’s field of study within academia</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fas fa-globe m-auto text-primary"></i>
                    </div>
                    <h3>Social Impact</h3>
                    <p class="lead mb-0">Social improvements achieved as a consequence of implementing the results of a particular research project or study</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Analytical Dashboard</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="mx-auto mb-5 mb-lg-0 shadow-sm">
                    <img class="" src="{% static 'img/dashboard.png' %}" alt="" width="1018" height="503"/>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; ImpactApp 2019</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Login Modal-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Login into ImpactApp</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                 <form class="" method="POST" action="{% url 'login' %}">{% csrf_token %}
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username" />
                    </div>
                     <div class="form-group">
                         <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
